

<div style="text-align: center">
  <%= form_tag create_username_path do |f| %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>

   <%# recaptcha_tags %>
<%= recaptcha_tags %>

    <%= submit_tag "Enter" %>


  <% end %>
</div>
