

<div style="text-align: center">
  <%= form_tag create_username_path do |f| %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>

   <%# recaptcha_tags %>
   

    <%= submit_tag "Enter" %>
<div style="padding-left:446px;">
	<%= recaptcha_tags %>
</div>

  <% end %>
</div>
